


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link href="~/Content/Iniciocss.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <ul>
            <li><a class="btn" href="">Adopta Una Mascota</a></li>
            <li><a class="btn" href="">Cartelera</a></li>
            <li><a class="btn" href="">Dar En Adopción</a></li>
            <li><a class="btn" href="">Quienes Somos</a></li>
<<<<<<< HEAD
                       
        </ul>
    </nav>
    <div align="center">
        <h1>5rreas</h1>
        <h2>Un proyecto para buscarle un hogar a las mascotas</h2>
        <br>
        <br>
         
        @Html.ActionLink("Iniciar Sesion", "Login", "Login", null, new { @class="button" })<br /><br /><br />
        @Html.ActionLink("¿No tenes cuenta? Registrate", "Create", "Usuarios", null, new { @class = "btn" })
=======
            <li style="float:right" class="btn"><a href="">Registrarse</a></li>
            <li style="float:right" class="btn"><a href="">Iniciar</a></li>
        </ul>
    </nav>
    <div align="center">
        <h1>Proyecto Mascotas</h1>
        <h2>Un proyecto para buscarle un hogar a las mascotas</h2>
        <br>
        <br>

        @Html.ActionLink("Iniciar Sesion", "Validar", "Usuarios", null, new { @class="button" })
>>>>>>> master
       </div>
</body>
</html>