



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link href="~/Content/Iniciocss.css" rel="stylesheet" />
</head>
<body>

    <div align="center">
        <img src="~/Content/Imagenes/logo2blanco.png" width="300" />
    </div>

    <div align="center">
        <h2>Un proyecto para buscarle un hogar a las mascotas</h2>
        <div>

            @Html.ActionLink("Iniciar Sesion", "Login", "Front", null, new { @class = "button" })
            <br />
            <br />
            @Html.ActionLink("¿No estas registrado?", "Create", "Usuarios")

        </div>



        <br>
        <br><br>
    </div>
</body>
</html>