@{
    ViewBag.Title = "Adopta una mascota";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">

    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Asd</p>
    </div>