@model ProyectoMascotas.Usuario


@if(ViewBag.Error!= null)
{
    <h2>@ViewBag.Error</h2>
}
<link rel="stylesheet" href="~/Content/cartelerastyle.css">

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4"><div class="font" align="center">
    <h3>ESCRIBI UN COMENTARIO PARA QUE TE CONTACTEN</h3>
</div></div>
        <form class="col-md-5" method="post" action="Form">


            <input style="display:none" class="form-control" type="text" name="recibeEmail" value="@Model.Email" />

            <input style="display:none" class="form-control" type="text" name="asunto" value="5Correas - Quieren comunicarse con vos!" />

            @*<text class="form-control" type="text" name="mensaje" />*@
            <textarea class="form-control texttt" rows="5" id="comment" name="mensaje"></textarea>


            <br />
            <br />
            <div align="center">
                <button type="submit" class="btn btn-success btn-block" style="background-color: #d8bd4c;border-color: #d8bd4c; ">ENVIAR</button>

            </div>
            <br />
            <br />
            <br />
            <br />
        </form>
    </div>
</div>