@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>App Mascotas es una iniciativa que promueve la adopción de mascotas buscando agilizar el contacto entre aquellos que deseen adoptar un animal y los que desean buscarle un nuevo hogar a sus mascotas</p>
<p>También tiene un sector donde podemos publicar animales perdidos y animales que se han encontrado</p>
<p>Solamente con registrarte ya sos parte de nuestra comunidad</p>
