<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="~/Content/InicioCss.css">

</head>
<body>
    <div class="contenedor">
        <div class="cuerpo">
            <h1>Proyecto Mascotas</h1>
            <br>
            <br>
            <h2>Un proyecto para buscarle un hogar a las mascotas</h2>
            <br>
            <br>
            <a class="button" href="a">Inicia Sesion</a>
        </div>
    </div>





</body>
</html>