@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usuario = Session["Username"] as Usuario;
}
<h1>Bienvenido, @usuario.Nombre_de_Usuario </h1>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>App Mascotas es una plataforma, la cual va a actuar como un tercero en la adopción de mascotas. </p>

