<<<<<<< HEAD
#imgenes {
    width: 30%;
    display: block;
    margin: auto;
}
=======
#1 {
        background-color: darkblue;
    height: 306px;
}
img {
    justify-content: center;
}

a.btn{
    font-size: 17px;
    color: #FFF;
}


a.btn:hover{
        color: #000;
}
    
.img-responsive {
    margin: 0 auto;
}

body{
	background-color: #FFF;
}
>>>>>>> master
